/* *{
  background-color: #F4F2EE;
} */
.mainComponentBody{
  display: grid;
  /* place-items: center; */
  /* justify-content: center; */
  height:100vh;
  /* align-content: center; */
  /* width:100vw; */
  /* align-items: center; */
}
.forRegisterDisplay,.forLoginDisplay{
  display: grid;
  /* flex-direction: column;
  justify-content: center; */
  place-items: center;
 width:99%;
 max-width:25vw;
 margin-left:480px;
  height:auto; 
  gap:10px;
  

}
.mainBlock{
  display: flex;
  flex-direction: row;
  grid-gap:20px;
  /* max-width:100%;
  width:99%; */
  padding:10px;
  
}
.actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:4px;
  margin:4px;
  /* padding:4px; */
}
.actions button{
  border:1px solid black;
  padding:4px 20px;
  border-radius: 20px;
  
}
.firstnavInfo{
  background-color: #ffffff;
  max-width:250px;
  max-height:80px;
  border-radius: 8px;
  height:99%;
  /* border:1px solid gray; */
  box-shadow: 1px 1px 5px gray;
  width:99%;
  padding:10px;
  color:gray;
  display:flex;
  gap:3px;
  flex-direction:column;
}

.secondNavInfo{
  background-color: #ffffff;
  max-width:250px;
  max-height:450px;
  border-radius: 8px;
  height:99%;
  box-shadow: 1px 1px 5px gray;
  width:99%;
  padding:20px;
  color:gray;
  /* display:flex; */
  /* gap:3px; */
}
.childOne{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.firstnavInfo h6{
  font-size: 14px;
}
.navInfo{
  /* background-color: #ffffff; */
  max-width:250px;
  max-height:auto;
  height:99%;
  width:99%;
  padding:20px;
}
.rounded-checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  appearance: none;
  background-color: white;
  border: 2px solid #007bff;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.rounded-checkbox:checked {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.rounded-checkbox:checked::after {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerAllTask{
  background-color: #ffffff;
  max-width:950px;
  max-height:auto;
  border-radius: 14px;
  box-shadow: 1px 1px 4px gray;
  height:99%;
  width:99%;
  padding:15px;
  filter: drop-shadow(0 0 1em #e2e2e4aa);
}
.taskBlock{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}
.Title{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color:rgb(55, 150, 234);
  /* font-variant: small; */
}
.taskCards{
  /* background-color: wheat; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:5px;
  overflow-y: auto;
  
height:400px;
  
}
.taskBodyRect{
  background-color:#ffffff;
  max-height:150px;
  height:99%;
  max-width:440px;
  border:1.5px solid rgb(220, 215, 215);
  width:99%;
  padding:10px;
  border-radius: 8px;
  position: relative;
}
.fordeleteModalContainer{
  /* height:99%;
  max-height:700px;
  width:99%;
  max-width:400px;
  border:1px solid black;
  z-index:1;
  background-color: white; */
  max-height: 100vh;
  display: grid;
  place-items: center;

  height:99%;
  max-width:400px;
  width:99%;
  background-color: rgb(145, 173, 215);
  box-shadow: 1px 1px 5px gray;
  /* position:absolute; */
  /* top:18%; */
  border-radius: 8px;
  /* left:35%; */
  z-index:1;
  transition: transform 0.125s;
}
/* .fordeleteModal{
  height:99%;
  max-height:700px;
  width:99%;
  max-width:400px;
  border:1px solid black;
  z-index:1;

} */
.taskBody{
  background-color:#ffffff;
  max-height:150px;
  height:99%;
  max-width:280px;
  /* border:1px solid black; */
  border:1.5px solid rgb(220, 215, 215);
  width:99%;
  padding:10px;
  border-radius: 8px;
  position: relative;
}
.taskBody:hover,.taskBodyRect:hover{
  border:2px solid black;
  transition: 0.1s all ease-in;
  cursor: pointer;
  
}
.forSection{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  justify-items: center;
  justify-content: center;
  /* justify-content: center; */
}

.boxContent{
  height:300px;
  width:170px;
  border-radius: 4px;
  text-align: center;
  border:1px solid black;
}
.forparentDivSqaure{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  justify-items: center;
  justify-content: center;
}
.childSquare{
  border:3px solid lightgray;
  height:40px;
  width:60px;
}
.forparentDivRect{
  display:flex;
  flex-direction: column;
  padding-left:10px;
  /* flex-wrap: wrap; */
  gap:10px;
  max-width:160px;
  width:99%;
  /* justify-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
}
.childRect{
  border:3px solid lightgray;
  height:40px;
  width:auto;
}
.forModal{
  max-height: 400px;
  height: 99%;
  max-width:400px;
  width:99%;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  position:absolute;
  top:18%;
  border-radius: 8px;
  left:35%;
}
.createButton{
  background: transparent;
  border:1px solid gray;
  cursor: pointer;
  padding:10px 20px;
}
.formBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:15px;
  gap:10px;
}
.closeModalButton{
  outline:none;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding:4px 12px;
  margin:4px;
  border-radius: 50%;
}
.closeModalButton:hover{
  background-color:lightgray;
  color:black;
  transition: 0.125s all ease-in-out;
}
.forLoading{
  text-align: center;

  /* background-color: bisque; */
}
.taskname{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-align: justify;
}
.created{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.checkedtaskname{
  color:rgb(0, 0, 0);
text-decoration: line-through;
font-size: 15px;
text-align: justify;
}
.taskbodyFooter{
  position:absolute;
  bottom:10px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  /* align-items: center; */
  align-content: center;
  gap:16px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.isCheck{
  height:15px;
  width:15px;
  cursor:pointer;
  border-radius: 50%;
}
.changeLayout{
  display: flex;
  padding:10px;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
}
.imageClass{
  height:30px;
  width:30px;
  border-radius: 50%;
  background-color: antiquewhite;
  display:flex;
  justify-content: center;
  align-items:flex-start;
  align-content: center;

}
.changeLayout:hover{
  background-color: lightgray;
}
.usernameDisplay{
  display: flex;
  /* position: relative; */
  padding:2px;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.logoutClass{
  /* position:absolute; */
  background-color: white;
  left:240px;
  padding:10px;

  height:auto;
  width:180px;
  /* border:1px solid red; */
  box-shadow: 1px 1px 15px lightgray;
  min-height:40px;

}
.logoutButton{
  cursor: pointer;
  width:190px;
}
/* .logoutButton:hover{
  background-color: aliceblue;
} */
.usernameDisplay:hover{

  background-color: lightgray;
}